
element.style {
}
.w-content {
    padding-top: 60px;
}
.w-content {
    padding-top: 60px;
}

html, body, div, h1, h2, h3, h4, h5, h6, p, ol, ul, li, img, form, input, label, select, textarea, table, th, tr, td, thead, tbody, tfoot, blockquote, iframe, hr, button, center, a, span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, body, button, div, form, h1, h2, html, iframe, img, input, label, li, ol, p, select, span, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body, small {
    font-size: 13px;
}
body {
    color: #424242;
    word-wrap: break-word;
    font: 13px / 1.1 Arial, Helvetica, sans-serif;
    min-width: 100%;
    -webkit-font-smoothing: antialiased;
}
body {
    font-size: 13px;
}
body {
    color: #424242;
    word-wrap: break-word;
    font: 13px / 1.1 Arial, Helvetica, sans-serif;
    min-width: 100%;
    -webkit-font-smoothing: antialiased;
}
Third